
<div class="container">
<p>This is the about view.</p>

<div id="ly1">
	
	<h3 class="r"><a href="http://www.test1.com">Test 1</a></h3>
	<h3 class="r"><a href="http://www.test222.com">Test 2</a></h3>
	<h3 class="r"><a href="http://www.test33.com">Test 3</a></h3>
</div>

#content-container .col2 div div section > div

<div id="content-container">
	<div class="col2">
		<div>
			<div>
				<section>
				<div>
					<div>Test 1</div>
					<div>Test 2</div>
					<div>Test 3</div>
				</div>
				</section>
			</div>
		</div>
	</div>
</div>

<div id="ly2">{{item1}}</div>

</div>